<div class="grid grid-cols-3 gap-3 my-5">
  <div class="bg-white drop-shadow-sm p-4 rounded-lg">
    <div class="text-xs text-slate-500 mb-2">Total Income</div>
    <div class="text-2xl text-gray-700 font-bold">{{ totals?.totalIncome | number }}</div>
  </div>
  <div class="bg-white drop-shadow-sm p-4 rounded-lg">
    <div class="text-xs text-slate-500 mb-2">Total Expense</div>
    <div class="text-2xl text-gray-700 font-bold">{{ totals?.totalExpense | number }}</div>
  </div>
  <div class="bg-white drop-shadow-sm p-4 rounded-lg">
    <div class="text-xs text-slate-500 mb-2">Balance</div>
    <div class="text-2xl text-gray-700 font-bold">{{ totals?.balance | number }}</div>
  </div>
</div>
