<div class="lg:w-[768px] mx-auto p-5">
  <div class="flex items-center py-4">
    <app-month />
    <div class="grow text-end">
      <button
        (click)="viewSummary()"
        class="ring ring-1 ring-green-600 text-green-600 hover:text-white hover:bg-green-600 transition-colors duration-500 py-1 px-2 rounded-lg"
      >
        <i class="fa fa-pie-chart"></i>
      </button>
    </div>
  </div>

  <app-totals [totals]="totals$ | async" />

  @for (day of days$ | async; track $index) {
  <app-day [day]="day" />
  }

  <button
    (click)="addTransaction()"
    class="bg-green-600 hover:bg-green-700 md:rounded-full rounded-lg text-white text-xl md:text-2xl size-12 md:size-16 fixed lg:right-72 bottom-8 right-4"
  >
    <i class="fa fa-plus"></i>
  </button>
</div>
