<div class="px-4 hover:bg-gray-50 cursor-pointer">
  <div class="p-4 flex items-center border-b border-slate-50">
    <div class="mr-4 text-xl">
      @if (transaction.type === 'INCOME') {
      <i class="fa-solid fa-circle-down text-green-600"></i>
      } @else {
      <i class="fa-solid fa-circle-up text-slate-500"></i>
      }
    </div>
    <div class="grow text-gray-700">
      {{ transaction.category.name }}<br />
      <small class="text-gray-500">{{ transaction.note }}</small>
    </div>
    <div class="font-semibold">
      @if (transaction.type === 'INCOME') {
      <span class="text-green-600">+ {{ transaction.amount | number }}</span>
      } @else {
      <span class="text-slate-600">- {{ transaction.amount | number }}</span>
      }
    </div>
  </div>
</div>
